img {
	display: block;
	margin: auto;
}
.pokemon-list{
	margin: auto;
	width: 75%;
	/*border: 1px solid black;*/
	overflow: hidden;
	text-align: center;
}
.list-entry {
	margin: 5px;
	min-width: 115px;
	border: 2px solid #ebeef4;
	border-radius: 10px;
	display: inline-block;
	overflow: hidden;
}
.list-name {
	color: #000000;
	font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
}
