img {
	display: block;
	margin: auto;
}
body {
	text-align: center;
	background-image: url("/resources/cork-wallet.png");
	height: 100%;
}
.pokemon-list{
	background-color: white;
	margin: auto;
	width: 85%;
	/*border: 1px solid black;*/
	overflow: hidden;
	height: 100%;
	text-align: center;
}
.list-entry {
	margin: 5px;
	min-width: 115px;
	border: 2px solid #ebeef4;
	border-radius: 10px;
	display: inline-block;
	overflow: hidden;
}
.list-entry:hover{
	background-color: #eaf2ff;
}
.list-name {
	margin-bottom: 5px;
	color: #375482;
	font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
}
